body{
	background-color: #f3f5f7;
}
.popBox{text-align: center;}
.submitbox{text-align: center;}
.cancels{width: 90px;
    width: 49%;
    color: #9c9c9c;
    line-height: 1.5em;
    background-color: #fff;
    border-top:1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
    float: left;
    padding: 11px 0;

}
.confirm{
    width: 50%;
    color: #88c5be;
    line-height: 1.5em;
    background-color: #fff;
    float: left;
    padding: 11px 0;
    border-top:1px solid #e6e6e6;
}
.shopHeader{
	width: 100%;
	height:35px;
	background-color: #FFFFFF;
	text-align: center;
	line-height: 35px;
	font-size: 16px;
	color: #333333;
	position: fixed;
	z-index: 999;	
}
.manngerBut{
	position: absolute;
    left: 75%;
    top: 3%;
    width: 29%;
}
.deleteBtn{
	float: right;
	display: inline-block;
	width: 74px;
	height: 25px;
	border:solid 1px #e08750;
	font-size: 14px;
	color: #e08750;
	text-align: center;
	line-height: 25px;
    margin-top: 2%;
    margin-right: 4%;
	border-radius: 13px;
}
.shopCartBox{
	width: 100%;
	background-color: #f3f5f7;
	min-height: 140px;
	padding-bottom: 60px;
}
.shopCartList{
	margin-left: 12px;
	margin-right: 12px;
	height: 140px;
	margin-top: 10px;
	background-color: #FFFFFF;
	padding-bottom: 4px;
	border-radius: 4px;
	border:solid 1px #e6e6e6;
}
.shopCartLeft{
	width:38px;
	background-color: #ffffff;
	height: 140px;
	float: left;
}
.shopCartRight{
	height: 140px;
	background-color: #fff;
	margin-left: 38px;
}
.label1{
    width: 45px;
    height: 107px;
    display: block;
    background: url(../images/xuanZZ.png) no-repeat;
    background-size: 50%;
    margin-top: 152%;
    margin-left: 19%;   
}
.label1 input{
    opacity: 0;
}
 .shopCartLeft .checked{
    background: url(../images/xz.png) no-repeat ;
    background-size: 50%;
    margin-top: 152%;
    margin-left: 19%; 
}
.catRightTop{
	width: 100%;
	height: 103px;
	background-color: #FFFFFF;
}
.carImage{
	width: 88px;
	height: 88px;
}
.rightCart1{
	padding-top: 24px;
	float: left;
	width: 30%;
}
.rightCart2{
	float: left;
	width: 70%;
}
.imgBoxBorder{
	border: solid 1px #E6E6E6;
	display: inline-block;
	width: 88px;
	height: 88px;
}
.rightTitleCat{
	height: 42px;
    background-color: #fff;
    margin-top: 26px;
    padding-left: 10px;
    padding-right: 8px;
    overflow: hidden;
    line-height: 23px;
    font-size: 12px;
    color: #333333;
}
.rightTitleCat span:first-child{
	display: inline-block;
    float: left;
    width: 84%;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.catPrice1{
	float: left;
	font-size:14px;
	color: #d57232;
	margin-top: 5px;
}
.catPrice{
	clear: both;
	padding-left: 10px;
	margin-top: 10px;
}
.deleteImg{
	float: right;
	display: inline-block;
	padding-top: 14px;
	width: 16%;
}
.deleteImg img{
	display: block !important;
	margin: 0px auto;
}
.AddJianBox{
	width: 92px;
    height: 31px;
    float: right;
    padding-top: 3px;
    padding-left: 4px;
    background: url(../images/circlieImg.jpg) no-repeat;
    background-size: contain;
    margin-top: 1%;
    margin-right: 5%;    
}
.jianId{
	width: 23px;
	display: inline-block;
	height: 22px;
	background-color: #FFFFFF;
	font-size: 18px;
	color: #cccccc;
	text-align: center;
	line-height: 22px;
	border-radius: 50%;
}
.inputNum{
	width: 40px;
    outline: none;
    border: none;
    vertical-align: middle;
    display: inline-block;
    margin-bottom: 5px;
    background-color: #e6e6e6;
    text-align: center;
    color: #808080;
}
.shopFotter{
	width: 100%;
	height: 48px;
	border-top:solid 1px #e7e7e7;
	position: fixed;
	bottom: 0;
	z-index: 999;
	background-color: #fafafa;
}
.shopForLeft0{
	width:16%;
	height: 48px;
	float: left;
}
.shopForLeft1{
	width: 25%;
	height: 48px;
	background-color: #fafafa;
	float: left;
}
.shopForLeft2{
	width: 46%;
	height: 48px;
	background-color: #fafafa;
	float: left;
	text-align: center;
	line-height: 48px;
}
.label2{
    width: 53%;
    display: block;
    height: 48px;
    background: url(../images/xuanZZ.png) no-repeat;
    background-size: 70%;
    margin-left: 35%;
    margin-top: 22%;
}
.shopForLeft0 .checked{
    width: 53%;
    height: 48px;
    background: url(../images/xz.png) no-repeat ;
    background-size: 70%;  
}
.shopForLeft3{
	width: 13%;
	float: left;
	height: 48px;
	font-size: 12px;
	color: #676767;
	line-height: 48px;
}
.jiesuanStyle{
	font-size: 14px;
	color: #fff;
	text-align: center;
	line-height: 48px;
	background: -webkit-linear-gradient(left,rgba(239,127,63,1),rgba(240,83,100,1));
}
@media  screen and (min-width: 320px){
	.carImage{width:90%;}
	.imgBoxBorder{border:none;}
}